@using OakChan.Common
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService

<!DOCTYPE html>

<html lang="@OakConstants.Culture">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet" asp-href-include="~/css/*.css" asp-href-exclude="~/css/oak.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/oak.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/scripts/acorn.js"></script>
    <script src="~/scripts/dates.js"></script>
    <script src="~/scripts/lang/@(OakConstants.Culture).js"></script>
    <script src="~/scripts/localizer.js"></script>
    <script src="~/scripts/post-menu.js"></script>
    <script src="~/scripts/post-ignoring.js"></script>
    <script src="~/scripts/notifications.js"></script>
    <script src="~/scripts/modal.js"></script>
    <script src="~/scripts/post-numeration.js"></script>
    @if ((await authorizationService.AuthorizeAsync(User, null, OakConstants.Policies.HasBoardPermission)).Succeeded)
    {
        <script src="~/scripts/mod/post-deletion.js"></script>
        <partial name="_AccountLevel" />
        @Html.AntiForgeryToken();
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
