<div class="posting-form__mb-wrapper">
    <button type="button"
            title="@Localizer["bald"]"
            class="posting-form__mb mb_bald"
            onclick="textEditorAddTag('**','**')">
        B
    </button>
    <button type="button"
            title="@Localizer["italic"]"
            class="posting-form__mb mb_italic"
            onclick="textEditorAddTag('__','__')">
        I
    </button>
    <button type="button"
            title="@Localizer["quote"]"
            class="posting-form__mb mb_quote"
            onclick="textEditorAddTag('\n>','')">
        &gt;
    </button>
    <button type="button"
            title="@Localizer["spoiler"]"
            class="posting-form__mb mb_spoiler"
            onclick="textEditorAddTag('%%','%%')">
        <span class="spoiler">T</span>
    </button>
    <button type="button"
            title="@Localizer["strike"]"
            class="posting-form__mb mb_strike"
            onclick="textEditorAddTag('--','--')">
        S
    </button>
</div>