@model OakChan.ViewModels.PostViewModel
@inject OakChan.DAL.IAttachmentsStorage attachments
@{
    Guid usid;
    try
    {
        usid = await OakChan.Deanon.DeanonExtensions.GetAnonGuidAsync(Context);
    }
    catch
    {
        usid = new Guid();
    }
}


<div class="post-container" id="@($"pc{Model.Number}")">
    <div id="@($"p{Model.Number}")" class="post@(usid == Model.AuthorId ? " post-owned" : "")@(Model.HasImage ? " post-withimage" : "")">

        <div class="post-details">
            <span class="post__subject">#@Model.Subject</span>
            <span class="post__author">@Model.AuthorName</span>
            <span class="post__date">@Model.Date.ToString("ddd d'/'MM'/'yy HH':'mm':'ss")</span>
            <span class="post__number" data-pid="@Model.Number"><a asp-route="thread" asp-route-board="@Model.Board" asp-route-thread="@Model.Thread" asp-fragment="@($"p{Model.Number}")">@($"№{Model.Number}")</a></span>
        </div>

        @if (Model.HasImage)
        {
            string imgPath = attachments.GetImageLinkByName(Model.Image.Name);
            string thumbPath = attachments.GetThumbnailLinkByName(Model.Image.Name);

            <div class="post__images">
                <div id="@($"ic{Model.Image.Name}")" class="post__image-container">
                    <div class="post__file-info" id="@($"fi{Model.Number}-{Model.Image.Name}")">
                        <div class="post__file-name">
                            <a href="@imgPath">@($">{Model.Image.OriginalName}")</a>
                        </div>
                        <div class="post__file-size">
                            <span>@($"{Model.Image.Width}x{Model.Image.Height}")</span>
                            <span>@($"{Model.Image.Size/1024}{Localizer["KB"].Value}")</span>
                            <span class="full-size" id=@($"scale{Model.Image.Name}")>1:1</span>
                        </div>
                    </div>
                    <a class="post__file-link" href="@imgPath">
                        <img id="@($"img{Model.Image.Name}")"
                             class="post__image"
                             src="@thumbPath"
                             data-img-width="@Model.Image.Width"
                             data-img-height="@Model.Image.Height"
                             data-img-thumb="@thumbPath"
                             loading="lazy" />
                    </a>
                </div>
            </div>
        }

        <div class="post__message" id="@($"m{Model.Number}")" data-pid="@($"{Model.Number}")">@Model.Message</div>

    </div>
</div>