@model OakChan.Models.DB.Entities.Post
@inject OakChan.Models.MediaStorage media

<div class="post-container" id="@($"pc{Model.Id}")">
    <div id="@($"p{Model.Id}")" class="post">

        <div class="post-details">
            <span class="post__subject">#@Model.Subject</span>
            <span class="post__author">@Model.Name</span>
            <span class="post__date">@Model.CreationTime.ToString("ddd d'/'MM'/'yy HH':'mm':'ss")</span>
            <span class="post__number" data-pid="@Model.Id">@($"№{Model.Id}")</span>
        </div>

        @if (Model.Image != null)
        {
            var img = Model.Image;
            var fullPath = media.GetImageRelativePath(Model.Image.Name);
            var thumbPath = media.GetImageThumbnailRelativePath(Model.Image.Name);

            <div class="post__images">
                <div id="@($"ic{img.Name}")" class="post__image-container">
                    <div class="post__file-info" id="@($"fi{Model.Id}-{img.Id}")">
                        <div class="post__file-name">
                            <a href="@fullPath">@($">{img.OriginalName}")</a>
                        </div>
                        <div class="post__file-size">
                            <span>@($"{img.Width}x{img.Height}")</span>
                            <span>@($"{img.Size/1024}{Localizer["KB"].Value}")</span>
                            <span class="full-size">1:1</span>
                        </div>
                    </div>
                    <a class="post__file-link" href="@fullPath">
                        <img id="@($"img{img.Name}")"
                             class="post__image"
                             src="@thumbPath"
                             data-img-width="@Model.Image.Width"
                             data-img-height="@Model.Image.Height"
                             data-img-thumb="@thumbPath"
                             loading="lazy" />
                    </a>
                </div>
            </div>
        }

        <div class="post__message" id="@($"m{Model.Id}")" data-pid="@($"{Model.Id}")">
            <text>@Model.Message</text>
        </div>
    </div>
</div>