@using OakChan.ViewModels;
@model IEnumerable<ThreadPreviewViewModel>
@inject OakChan.DAL.IAttachmentsStorage attachments

<div class="favorite-threads">
    <div class="favorite-threads__head">
        <span>@ViewData["Caption"]</span>
    </div>
    <div class="favorite-threads__list">

        @foreach (var thread in Model)
        {
            <div class="favorite-thread__item @($"p{thread.OpPost.Number}-{thread.BoardKey}")"
                 data-tid="@thread.ThreadId"
                 data-bid="@thread.BoardKey">
                <a asp-route="thread"
                   asp-route-board="@thread.BoardKey"
                   asp-route-thread="@thread.ThreadId">
                    <p class="favorite-thread__caption">@($"/{thread.BoardKey}/")</p>
                    <div>
                        <img class="favorite-thread__image"
                             src="@(attachments.GetThumbnailLinkByName(thread.OpPost.Image.Name))"
                             alt="@thread.OpPost.Image.OriginalName" />
                        <div class="favorite-thread__message">@(thread.OpPost.Message)</div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>