@model OakChan.ViewModels.HomePageViewModel
@{
    ViewBag.Title = Localizer["Welcome"];
}

@inject OakChan.DAL.IAttachmentsStorage attachments
<div class="home__auth-panel">
    <partial name="_AuthPartial" />
</div>
<div class="logo">
    <img class="logo-img" src="/images/logo.png" />
</div>
<div class="welcome text-center">
    <div>@Localizer["Welcome"]</div>
</div>

<div class="board-list">
    <div class="board-list__head">
        @Localizer["Boards list"]
    </div>
    <div class="board-list__list">
        @{
            var boards = Model.Boards.ToArray();
            var columns = 2;
            var index = 0;
        }
        @for (int c = 0; c < columns; c++)
        {
            <div class="board-list__column">
                @for (int r = 0; r < boards.Length / columns + (boards.Length % columns > c ? 1 : 0); r++)
                {
                    var board = boards[index++];

                    <div class="board-list__item">
                        <a href="\@board.Key">@($"/{board.Key}/ - {board.Name}")</a>
                    </div>
                }
            </div>
        }
    </div>
</div>
<br />
<div class="favorite-threads">
    <div class="favorite-threads__head">
        <span>@Localizer["Top threads"]</span>
    </div>
    <div class="favorite-threads__list">

        @foreach (var thread in Model.TopThreads)
        {
            <div class="favorite-thread__item">
                <a asp-route="thread" asp-route-board="@thread.BoardId" asp-route-thread="@thread.ThreadId">
                    <p class="favorite-thread__caption">@Localizer["popular in /{0}/", thread.BoardId]</p>
                    <div>
                        <img class="favorite-thread__image" src="@(attachments.GetThumbnailLinkByName(thread.OpPost.Image.Name))" />
                        <div class="favorite-thread__message">@(thread.OpPost.Message)</div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
