@model OakChan.ViewModels.PostFormViewModel

<div id="form"
     class="posting-form__wrapper"
     style="display: none;">
    <div class="posting-form__img-preview">
        <img id="preview-img" class="preview-imgage" />
    </div>
    <form id="posting-form"
          method="post"
          enctype="multipart/form-data"
          asp-route="threadAction"
          asp-route-board="@Context.Request.RouteValues["board"]"
          asp-route-thread="@Context.Request.RouteValues["thread"]"
          asp-route-action="CreatePost">
        <div class="posting-form__fields">
            <label asp-for="Name"></label>
            <input asp-for="Name" autocomplete="off" />
            <span>@Localizer["Options:"] </span>
            <div class="options">
                <input asp-for=IsSaged />
                <label asp-for=IsSaged></label>
                <input asp-for=OpMark />
                <label asp-for=OpMark></label>
            </div>
        </div>
        <textarea id="message-text"
                  asp-for=Text
                  class="posting-form__text-editor"
                  rows="4"></textarea>
        <div class="posting-form__buttons-row">
            <div class="fake-button">
                <input class="hidden-input"
                       id="post-img"
                       accept=".gif,.jpg,.png,.jpeg"
                       type="file"
                       asp-for="Image"
                       onchange="loadImagePreview(this.files)" />
                <label for="post-img">@Localizer["Image"] </label>
            </div>
            <button class="oakbutton" type="submit">@Localizer["Create"]</button>
        </div>
        <div class="form-row error-list" asp-validation-summary="All"></div>
    </form>
</div>