@model OakChan.ViewModels.PostFormViewModel

<div class="creation-form" id="form">
    <div class="preview-container">
        <div>
            <img id="preview-img" class="preview-imgage" />
        </div>
    </div>
    <form id="posting-form"
          method="post"
          enctype="multipart/form-data"
          class="posting-form"
          asp-route="threadAction"
          asp-route-board="@Context.Request.RouteValues["board"]"
          asp-route-thread="@Context.Request.RouteValues["thread"]"
          asp-route-action="CreatePost">
        <div class="grid">
            <label asp-for="Name"></label>
            <input asp-for="Name" autocomplete="off" />
            <span>@Localizer["Options:"] </span>
            <div class="options">
                <input asp-for="IsSaged" />
                <label asp-for="IsSaged"></label>
            </div>
        </div>
        <textarea class="form-control"
                  rows="4" id="form-msg"
                  asp-for="Text"></textarea>
        <div class="buttons-row">
            <div class="fake-button">
                <input class="hidden-input"
                       id="post-img"
                       accept=".gif,.jpg,.png,.jpeg"
                       type="file" asp-for="Image"
                       onchange="loadImagePreview(this.files)" />
                <label for="post-img">@Localizer["Image"] </label>
            </div>
            <button class="oakbutton" type="submit">@Localizer["Create"]</button>
        </div>
        <div class="form-row error-list" asp-validation-summary="All"></div>
    </form>
</div>