@model OakChan.ViewModels.PostFormViewModel

<form id="posting-form"
      class="posting-form"
      style="display: none;"
      method="post"
      enctype="multipart/form-data"
      asp-route="threadAction"
      asp-route-board="@Context.Request.RouteValues["board"]"
      asp-route-thread="@Context.Request.RouteValues["thread"]"
      asp-route-action="CreatePost">
    @Html.EditorFor(x => x.Image, "ImageSelector")
    <div>
        <div class="posting-form__fields">
            <label asp-for="Name"></label>
            <input asp-for="Name" autocomplete="off" />
            <span>@Localizer["Options:"] </span>
            <div class="options">
                <input asp-for=IsSaged />
                <label asp-for=IsSaged></label>
                <input asp-for=OpMark />
                <label asp-for=OpMark></label>
            </div>
        </div>
        <textarea id="message-text"
                  asp-for=Text
                  class="posting-form__text-editor"
                  rows="4"></textarea>
        <partial name="_MarkupButtonsPartial" />
        <button class="oakbutton" type="submit">@Localizer["Create"]</button>
        <div class="form-row error-list" asp-validation-summary="All"></div>
    </div>
</form>