@using OakChan.ViewModels
@model ThreadViewModel
@{
    ViewBag.Title = Model.Subject;
}
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}
<hr />
<p class="switcher"
   tabindex="0"
   id="switcher"
   onclick="switchFormVisibility()"
   data-switched-text="@Localizer["Hide form"]">@Localizer["Write a post"]</p>

<partial name="_PostCreationFormPartial" model="new PostFormViewModel()" />
<div id="@($"thread-{Model.ThreadId}")"
     class="thread"
     data-bid="@(Model.BoardKey)"
     data-tid="@(Model.ThreadId)">
    @if (Model.IsPinned)
    {
        <partial name="_Pin" />
    }
    <span class="thread__subject">@Model.Subject</span>
    <partial name="_PostView" model="Model.OpPost" />
    @foreach (var post in Model.Replies)
    {
        <partial name="_PostView" model="post" />
    }
</div>

