@model Vookaba.ViewModels.ThreadFormViewModel

<form id="posting-form"
      class="posting-form"
      style="display: none;"
      method="post"
      enctype="multipart/form-data"
      asp-route="createThread"
      asp-route-board="@Context.Request.RouteValues["board"]">
    @Html.EditorFor(x => x.Image, "ImageSelector")
    <div class="posting-form__fields">
        <div class="posting-form__grid">
            <label asp-for=Subject>@Localizer["Subject"]</label>
            <input asp-for=Subject autocomplete="off" />
            <label asp-for=Name>@Localizer["Name"]</label>
            <input asp-for=Name autocomplete="off" />
        </div>
        <textarea id="message-text"
                  asp-for=Text
                  class="posting-form__text-editor"
                  rows="4"></textarea>
        <partial name="_MarkupButtonsPartial" />
        <button class="fancy-button" type="submit">@Localizer["Create"]</button>
        <div class="form-row error-list" asp-validation-summary="All"></div>
    </div>
</form>