@model IEnumerable<OakChan.Services.DTO.BoardInfoDto>

<table>
    <tr>
        <th>@Localizer["Id"]</th>
        <th>@Localizer["Name"]</th>
        <th>@Localizer["Status"]</th>
        <th>@Localizer["Threads"]</th>
        <th>@Localizer["Actions"]</th>
    </tr>
    @foreach (var board in Model)
    {
        var status = board.IsDisabled ?
                      Localizer["Disabled"] :
                      board.IsHidden ? Localizer["Hidden"] : Localizer["Public"];

        <tr>
            <td><a asp-area="" asp-controller="Board" asp-action="Index" asp-route-board="@board.Key">@board.Key</a></td>
            <td>@board.Name</td>
            <td>@status</td>
            <td>@board.ThreadsCount</td>
            <td>
                <span> <a asp-controller="Admin" asp-action="EditBoard" asp-route-boardKey="@board.Key">[@Localizer["Edit"]]</a></span>
            </td>
        </tr>
    }
</table>