@model StuffViewModel

<table id="staff-control" class="dashboard-table">
    <thead class="text-center">
        <tr>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["E-mail"]</th>
            <th>@Localizer["Boards"]</th>
            <th>@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4" class="text-center">
               <a asp-area="Administration" asp-controller="Account" asp-action="SelectUser">[@Localizer["Add"]]</a>
            </td>
        </tr>
    </tfoot>
    <tbody>
        @if (Model.Moderators.Any())
        {
            <tr>
                <td colspan="4" class="subtitle text-center">
                    @Localizer["Moderators"]
                </td>
            </tr>
            <partial name="_UsersInRolePartial" model="Model.Moderators" />
        }
        @if (Model.Janitors.Any())
        {
            <tr>
                <td colspan="4" class="subtitle text-center">
                    @Localizer["Janitors"]
                </td>
            </tr>
            <partial name="_UsersInRolePartial" model="Model.Janitors" />
        }
    </tbody>
</table>