@model OakChan.ViewModels.BoardPropertiesViewModel
<div>
    @Html.EditorFor(m => m.BoardKey, "BoardParameter")
</div>
<div>
    @Html.EditorFor(m => m.Name, "BoardParameter")
</div>
<div>
    @Html.EditorFor(m => m.IsHidden, "BoardParameter")
</div>
<div>
    @Html.EditorFor(m => m.IsDisabled, "BoardParameter")
</div>
<div>
    @Html.EditorFor(m => m.BumpLimit, "BoardParameter")
</div> 