@using OakChan.ViewModels
@model BoardPageViewModel
@{
    ViewBag.Title = $"/{Model.Key}/ - {OakChan.Common.OakConstants.Name}";
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<hr />
<h2 class="board-name">@($"/{Model.Key}/ - {Model.Name}")</h2>

<p class="switcher" tabindex="0" id="switcher" onclick="switchFormVisibility()" data-switched-text="@Localizer["Hide form"]">@Localizer["Create thread"]</p>
<partial name="_ThreadCreationFormPartial" model="new ThreadFormViewModel()" />
<hr />
<div class="threads-container" data-board="@Model.Key">
    @foreach (var thread in Model.Threads)
    {
        <div id="@($"thread-{thread.ThreadId}")"
             class="thread"
             data-bid="@(thread.BoardKey)"
             data-tid="@(thread.ThreadId)">
            <span class="thread__subject">@thread.Subject</span>
            <partial name="_PostView" model="thread.OpPost" />
            <div class="to-thread">
                @if (thread.PostsOmmited > 0)
                {
                    <span>@Localizer["{0} post omited, {1} with image.", thread.PostsOmmited, thread.ImagesOmmited]</span>
                }
                <a asp-route="thread" asp-route-board="@Model.Key" asp-route-thread="@thread.ThreadId">[@Localizer["To thread"]]</a>
            </div>
            @foreach (var post in thread.RecentPosts)
            {
                <partial name="_PostView" model="post" />
            }
        </div>
        <hr />
    }
</div>

@if (Model.PagesInfo.TotalPages > 1)
{
    <partial name="_Paginator" model="Model.PagesInfo" />
}