@model RegisterViewModel
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
@{
    ViewBag.Title = Localizer["Register"];
}
<h1 class="text-center">@Localizer["Register new user"]</h1>
<fieldset class="auth__fieldset">
    <legend>@Localizer["Fill in the fields"]</legend>
    <form class="authform" method="post">
        <div class="authform-error" asp-validation-summary="ModelOnly"></div>
        <div class="form-row">
            @Html.EditorFor(m => m.Login, "InputRow")
        </div>
        <div class="form-row">
            @Html.EditorFor(m => m.Email, "InputRow")
        </div>
        <div class="form-row">
            @Html.EditorFor(m => m.Password, "InputRow")
        </div>
        <div class="form-row">
            @Html.EditorFor(m => m.PasswordConfirmation, "InputRow")
        </div>
        @if (Model is RegisterWithInvitationViewModel)
        {
            <div class="form-row">
                @Html.EditorFor(m => ((RegisterWithInvitationViewModel)m).Invitaion, "InputRow")
            </div>
        }

        <br />
        <div class="form-row">
            <button id="regsub" type="submit" class="oakbutton">@Localizer["Register"]</button>
        </div>
    </form>
</fieldset>
