@model UserDetailsViewModel
@inject OakChan.Utils.ModLogDescriber modlogFormatter
<div class="user-details">
    <h3>@Localizer[$"Edit permissions for '{Model.UserName}'"]</h3>
    <div class="row">
        <div class="column">
            <form id="upd-usr-form" asp-area="Administration" asp-controller="Account" asp-action="UpdateUserPermissions">
                @Html.HiddenFor(x => x.UserId)

                <fieldset>
                    <legend>@Localizer["Role"]</legend>
                    @foreach (var role in Model.Roles)
                    {
                        <label> <input type="radio" asp-for="UserRole" name="role" value="@role" />@Localizer[role]</label>
                    }
                </fieldset>
                @if (Model.Boards.Any())
                {
                    <fieldset>
                        <legend>@Localizer["Boards"]</legend>
                        @for (int i = 0; i < Model.Boards.Count; i++)
                        {
                            <input type="hidden" asp-for="Boards[i].Item" />
                            <label><input asp-for="Boards[i].IsChecked" checked="@(Model.Boards[i].IsChecked)" />@Model.Boards[i].Item</label>
                        }
                    </fieldset>
                }
            </form>
            <form id="go-to-dash" method="get" asp-area="Administration" asp-controller="Admin" asp-action="Dashboard">
            </form>
            <button type="submit" form="go-to-dash" class="oakbutton" title="@Localizer["Back to dashboard"]">@(Localizer["Dashboard"])</button>
            <button type="submit" form="upd-usr-form" class="oakbutton right" disabled="@(!Model.IsEditable)">@Localizer["Save"]</button>
        </div>
        <div class="column">
            <fieldset>
                <legend>@Localizer["Logs"]</legend>
                @if (Model.Logs.Any())
                {
                    @foreach (var log in Model.Logs)
                    {
                        <p>
                            @(Html.Raw($"{log.IP} {log.Created} {modlogFormatter.ToHtmlString(log)}"))
                        </p>
                    }
                }
                else
                {
                    <p>@Localizer["No action yet."]</p>
                }
                @if (Model.PageInfo.TotalPages > Model.PageInfo.PageNumber)
                {
                    <a class="nav" asp-action="UserDetails"
                       asp-route-userId="@Model.UserId"
                       asp-route-page="@(Model.PageInfo.PageNumber + 1)">&lt; @Localizer["Prev"]</a>
                }
                @if (Model.PageInfo.PageNumber > 1)
                {
                    <a class="nav" asp-action="UserDetails"
                       asp-route-userId="@Model.UserId"
                       asp-route-page="@(Model.PageInfo.PageNumber - 1)">@Localizer["Next"] &gt;</a>
                }
            </fieldset>
        </div>
    </div>
</div>